@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$bgColor: #081d2b;
$headerColor: #08263a;
$formColor: #103249;
$inputBorderColor: #dddddd;
$placeholderColor: #cccccc;
$inputColor: #f3f3f3;
$videoInputColor: #2a3547;
$headerBoxShadow: #1b1b1b5d;
$modalColor: #00000066;
$optionsBgColor: #cccccc33;
$textHighLightedColor: #00ff6a;
$buttonColor: #00e961;
$textColor: #fafafa;
$errorColor: #e70909;
$errorBgColor: #ffdddd;
$mainFontFamily: "DM Sans", sans-serif;
$secondaryFontFamily: "Bona Nova SC", serif;